/* 渐变背景色 */
body {
    background-color: #202020;
    background-image: linear-gradient(to bottom right, #4f86c6, #a5d8f3);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

/* 表单标题 */
.form-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 600;
}

/* 表单组 */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

input[type="tel"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

/* 发送验证码按钮 */
#send-code-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2rem;
}

#send-code-button:hover {
    background-color: #3e8e41;
}

/* 登录按钮 */
.submit-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.submit-button:hover {
    background-color: #d32f2f;
}